<ng-container *ngIf="!info || !specie || !locations; else elseTemplate">
    Cargando...
</ng-container>
<ng-template #elseTemplate>
    <button pButton pRipple type="button" label="Home" class="p-button-success float-end mt-3" [routerLink]="[ '' ]" routerLinkActive="active"></button>
    <div class="container">
        <div class="row">
            <div class="col-3 mt-5">
                <div class="row">
                    <img src="{{info.sprites.other['official-artwork']['front_default'] }}" class="border p-3 mb-2"/>
                </div>
                <div class="row" >
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row"> Name: </th>
                                <td> {{info.name | titlecase}} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Habitat: </th>
                                <td> {{specie.habitat.name | titlecase}} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Types: </th>
                                <td>
                                    <ul>
                                        <li *ngFor="let types of info.types"> {{types.type.name | titlecase}}</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> Abilities: </th>
                                <td>
                                    <ul>
                                        <li *ngFor="let ability of info.abilities">{{ability.ability.name | titlecase}}
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"> Height: </th>
                                <td> {{info.height}} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Weight: </th>
                                <td> {{info.weight}} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Baby: </th>
                                <td> {{ specie['is_baby'] === true ? 'Yes' : 'No' }} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Legendary: </th>
                                <td> {{specie['is_legendary'] === true ? 'Yes' : 'No' }} </td>
                            </tr>
                            <tr>
                                <th scope="row"> Mythical: </th>
                                <td> {{specie['is_mythical'] === true ? 'Yes' : 'No' }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3 mt-5 " *ngIf="info.moves.length > 0">


                <h5>Moves:</h5>
              
                <p-scroller [items]="info.moves" [itemSize]="10" scrollHeight="700px">
                    <ng-template pTemplate="item" let-item let-options="options">
                        <div class="scroll-item p-2" [ngClass]="{'odd': options.odd}" style="height: 50px;">{{item.move.name}}</div>
                    </ng-template>
                </p-scroller>
                
                
                
                

            </div>
            <div class="col-6 mt-5 p-4">
                <div class="row" *ngIf="locations.length > 0">
                    <h5>Locations:
                    </h5>
                    <div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th> Location name</th>
                                <th> Version:</th>
                                <th>Possibilities (max):</th>
                            </tr></thead>
                            <tbody>
                            <tr *ngFor="let location of locations">
                                <td>
                                    {{location['location_area'].name | titlecase}}
                                </td>
                                <td>
                                    <p *ngFor="let details of location['version_details']">{{details.version.name}}</p>
                                </td>
                                <td>
                                    <p *ngFor="let details of location['version_details']">{{details['max_chance']}}</p>
                                </td>
                            </tr></tbody>
                        </table>

                    </div>
                </div>
                <div class="row">
                    <h5>Names:</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let name of specie.names">
                            <tr>
                            <th>
                                {{name.language.name | titlecase}}
                            </th>
                            <th>
                                {{name.name | titlecase }}
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
          
          
            </div>
        </div>
    </div>
</ng-template>